[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
flask = "*"
jupyter = "*"
cython = "*"
sklearn = "*"
matplotlib = "*"
audioread = "*"
pydub = "*"
scipy = "*"
python-speech-features = "*"
librosa = "*"

[dev-packages]

[requires]
python_version = "3.6"
