[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
flask = "*"
cython = "*"
audioread = "*"
pydub = "*"
python-speech-features = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
libsvm = "*"
schemdraw = "*"
ipython = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
